/* Menu.css - Только Ionic специфичные стили */
ion-menu.ios ion-content {
  --padding-bottom: 0;
}

ion-menu.ios ion-item {
  --min-height: 44px;
}

ion-menu.ios ion-item ion-icon {
  font-size: 20px;
}

ion-menu.md ion-content {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}

ion-menu.md ion-list {
  padding: 0;
}